.text-icon {
  font-size: 13px;
}
.icon-f {
  background-color: #3835f7;
}
.form-select {
  cursor: pointer;
}

.form-control::placeholder {
  color: #212529;
}
.form-control:focus {
  border-color: #bebdbd;

  box-shadow: 0px 0px 0px 0px;
}
.form-check-input:focus {
  box-shadow: 0px 0px 0px 0px;
}
.form-select:focus {
  box-shadow: 0px 0px 0px 0px;
  border-color: #bebdbd;
}
